
.vs/Trivia/v16/.suo
Data/bin/Debug/netcoreapp3.1/Data.dll
Data/bin/Debug/netcoreapp3.1/Data.pdb
Data/obj/Debug/netcoreapp3.1/Data.dll
Data/obj/Debug/netcoreapp3.1/Data.pdb
Trivia/bin/Debug/net5.0/Data.dll
Trivia/bin/Debug/net5.0/Data.pdb
Trivia/bin/Debug/net5.0/ref/Trivia.dll
Trivia/bin/Debug/net5.0/Trivia.dll
Trivia/bin/Debug/net5.0/Trivia.pdb
Trivia/obj/Debug/net5.0/ref/Trivia.dll
Trivia/obj/Debug/net5.0/Trivia.csprojAssemblyReference.cache
Trivia/obj/Debug/net5.0/Trivia.dll
Trivia/obj/Debug/net5.0/Trivia.pdb
Trivia/bin/Debug/net5.0/Trivia.pdb
Trivia/bin/Debug/net5.0/Trivia.dll
Trivia/bin/Debug/net5.0/Data.dll
